<h2>Edit your post here:</h2>
    <%= simple_form_for @post do |f| %>
      <%= f.input :title, label: "Edit your post title here:" %>
      <%= f.input :content, label: "Edit your post content here:" %>
      <%= f.submit class: "button-50" %>
    <% end %>
